@import "~antd/dist/antd.css";

/* sizes and positions */
.w-30 {
  width: 30px;
}

.w-100 {
  width: 100px;
}

.h-full {
  height: 100%;
}

.h-500 {
  height: 500px;
}

.min-h-screen {
  min-height: 100vh;
}

.pb-10 {
  padding-bottom: 10px;
}

.m-20 {
  margin: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.\-mt-50 {
  margin-top: -50px;
}

body .mb-0 {
  margin-bottom: 0px;
}

.mb-20 {
  margin-bottom: 20px;
}

body .mb-50 {
  margin-bottom: 50px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-50 {
  margin-right: 50px;
}

/* fonts and texts */
.text-sm {
  font-size: 12px;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

/* colors and appearances */
.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

body .text-white {
  color: white;
}

.text-blue-500 {
  color: #1890ff;
}

.opacity-50 {
  opacity: 0.5;
}

.cursor-pointer {
  cursor: pointer;
}

.line-h-64 {
  line-height: 64px;
}

/* structure and display */
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }

  .md\:inline {
    display: inline;
  }
}
